* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

img {
    width: 100%;
}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
   display: none;

}

#splash {
    background-position: 80% 55%;
    overflow: hidden;
}

#menuknap {
    position: absolute;
    display: inline-block;
    top: 10vw;
    left: 10vw;

}


#menu {

    list-style-type: none;
    transition: transform .3s;
    background-color: white;
    padding: 1rem;
    width: 100%;

}


#menu a {
    line-height: 3rem;
    padding: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #000;

}

#menu a:hover {
    color: pink;
}

#menu a:active {
    color: #000;
}




a {
    font-family: 'Snell', sans-serif;
}

li {
    list-style-type: none;
}

h1 {
    font-family: 'Snell', sans-serif;
    margin: 1rem;
    font-size: 4rem;
    text-align: center;
}

h2 {
      font-family: 'Snell', sans-serif;
    text-transform: capitalize;
    font-size: 3rem;
    margin: 0 2rem;
}

#smagekasser .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}


#smagekasser .top {
    display: flex;
    flex-wrap: wrap;
    margin: 6rem 0;
}

#smagekasser .image {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 2rem;
}

<<<<<<< HEAD
#smagekasser .top .txt {
=======
#smagekasser .txt {
>>>>>>> origin/master
    flex-grow: 1;
    flex-basis: 400px;
    padding: 1rem;
}

#smagekasser .bottom {
   display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0 2rem;
    padding: 1rem;
}

#smagekasser .bottom .txt {
    flex-basis: 400px;
    flex-grow: 1;


}


#bar1,
#bar2,
#bar3 {
    width: 55px;
    height: 10px;
    background-color: black;
    margin: 6px 0;
    border-radius: 0.8rem;
}

p {
    font-family: 'courier new', sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;

}


@font-face {
    font-family: 'Snell';
    src: url('fonts/SnellBT-Regular.woff') format('woff2'),
        url('SnellBT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


<<<<<<< HEAD
@media only screen and (min-width: 600px) {

    #smagekasser {
        margin: 0 10rem;
        max-width: 80vw;
    }
    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        display: block;
    }

    #menu li {
        display: inline-block;
    }
}


=======

/*****KONTAKT*****/

#kontakt h1 {
    margin: 10px;
    text-align: center;
    border-bottom: 1px solid #656565;

    font-size: 3.5rem;
}

#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#kontakt .col_billede {
    flex-grow: 1;
    flex-basis: 100xp;
    margin: 20px;
    padding: 20px;

    width: 30vw;
}

#kontakt .tekst {
    flex-grow: 2;
    flex-basis: 300px;
    display: flex;
    margin: 20px;
    padding: 20px;
    line-height: 2;
    height: 20vw;
    align-items: center;
    justify-content: center;
}
>>>>>>> origin/master
